/* =========================
   FONT IMPORTS
   ========================= */

@font-face { 
font-family: 'IvyPresto Display Thin'; 
src: url('https://static.showit.co/file/CazFs-zxdT1JbEJSdk_n6g/233968/ivyprestodisplay-thin.woff') format('woff'), 
url('https://static.showit.co/file/nTAdMX2jJalKdTJV74q2Og/233968/ivypresto_display_thin.woff2') format('woff2'), 
url('https://static.showit.co/file/rQCAu9xN6EH7wOfUFDQong/233968/ivypresto_thin.ttf') format('truetype');
font-weight: 100; 
font-style: normal; 
}

@font-face { 
font-family: 'TT Ramillas Italic'; 
src: url('https://static.showit.co/file/G-FQd4qRULAzxfNrAcmn4w/233968/font.woff') format('woff'), 
url('https://static.showit.co/file/xD6rP9AcGGg32OuQrWi50Q/233968/ttramillas_italic_font.woff2') format('woff2'), 
url('https://static.showit.co/file/l0NqMm5d4VohG2S97JzatA/233968/ttramillas_italic_font.ttf') format('truetype');
font-weight: normal; 
font-style: italic; 
}

@font-face { 
font-family: 'AlegreyaSans'; 
src: url('https://static.showit.co/file/5YNzahl2xvyRC_wHAI5YGg/233968/alegreyasans-regular.woff') format('woff'), 
url('https://static.showit.co/file/22dh_YczHkhj9a4f0_A9EQ/233968/alegreyasans-regular.woff2') format('woff2'), 
url('https://static.showit.co/file/Tu4Gs4PcPCWyL6aekqCnKg/233968/alegreyasans-regular.ttf') format('truetype');
font-weight: normal; 
}

@font-face { 
font-family: 'JuniperandSageUpright'; 
src: url('https://static.showit.co/file/kNZanvhdqmJeV4bWfTN4wg/233968/juniper-and-sage-upright.woff') format('woff'), 
url('https://static.showit.co/file/2C9EWWY23g81Iop33RT3zg/233968/juniperandsageupright.woff2') format('woff2'), 
url('https://static.showit.co/file/AmUzpi5TtF-teua8xgVnbQ/233968/juniperandsageupright.ttf') format('truetype');
font-weight: normal; 
}


/* =========================
   FONTS STYLES
   ========================= */

.dubsado-form, .dubsado-form h1  {
    font-family: "IvyPresto Display Thin", serif;
    color: #000000;
}

.dubsado-form h2  {
    font-family: "TT Ramillas Italic", serif;
    font-weight: 600;
    font-style: italic;
    color: #000000;
}

.dubsado-form h3  {
    font-family: "AlegreyaSans";
    color: #000000;
}

.dubsado-form h4  {
    font-family: "JuniperandSageUpright";
    color: #000000;
}

.dubsado-form p  {
    font-family: "Helvetica";
    color: #000000;
}


/* =========================
   PACKAGE BUTTON STYLES
   ========================= */


/* Package button unselected */
    span.btn.btn-squared.border-around {
        font-family: "Helvetica"!important;
        color: #000000!important;
        text-transform: uppercase!important;
        font-weight: normal!important;
        background-color:#F6E5D6!important;
        border:2px solid!important;
        border-color:#C06917!important;
        border-radius:40px!important;
        transition: 0.5s!important;
        padding: 11px 36px!important;
    }

/* Package button unselected hover */
    span.btn.btn-squared.border-around:hover {
       background-color: #C06917!important;
       border-color:#C06917!important;
       color:white!important;
}

/* Package button selected style */
.packageSelected span.btn.btn-squared.border-around {
       background-color: #C06917!important;
       border-color:#C06917!important;
       color:white!important;
    }

/* Base package container */
.form-package-element {
   transition: 0.3s ease;
   border-radius: 16px;
   padding-left: 20px;
   padding-right: 20px;
}

/* Selected package */
.form-package-element:has(.packageSelected) {
   background: #F6E5D6;
   border: 2px solid #C06917;
}


/* =========================
    HEADER BAR
   ========================= */

/* Proposal tabs background */
.client-view-tabs {
    padding: 5px 15px;
    background-color:#CAB279!important;
  }

.form-viewer.dubsado-form {
    padding: 0px !important;
}

/* Proposal tabs text */
.client-view-tabs-col-label{
    color:#FFFFFF;
    letter-spacing:2px!important;
    font-size: 14px!important;
    text-transform:uppercase;
    font-family: "AlegreyaSans"!important;
}

/* Proposal tabs underline */
.client-view-tabs-col div {
    display: none;
    }

/* Proposal tabs text hover color */
.client-view-tabs-col-label:hover{   
    color:#000000!important;
}

/* =========================
    Buttons 
   ========================= */

/* Submit button --- use !important */
.submit-form-button {
    background-color: #F6E5D6!important;
    border: 1px solid #C06917!important;
    border-radius: 40px!important;
    border-width: 1px!important;
    color: #000000!important;
    padding: 15px 20px!important;
    font-weight: normal!important;
    text-transform: uppercase!important;
    font-size: 12px!important;
    box-shadow: 0px 0px 0px 0px!important;
    line-height: 0;
    font-family: "Helvetica"!important;
  	width:200px!important;
 		transition: 0.5s!important;
}

/* Submit button on hover--- use !important */
.submit-form-button:hover {
    background-color: #C06917!important;
    color: #FFFFFF!important;
}

/* Questionnaire save draft button */
.save-draft-button {
    background-color: #F6E5D6;
    border-color: #C06917;
    border-radius: 40px;
    border-width: 1px;
    color: #000000;
    padding: 15px 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    box-shadow: 0px 0px 0px 0px;
    line-height: 0;
    font-family: "Helvetica";
  	width:200px;
 		transition: 0.5s;
}

/* Save draft button on hover */
.save-draft-button:hover {
    background-color: #C06917;
    color: #FFFFFF;
}

/* PDF download button */
.pdf-button {
   background-color:transparent!important;
   border:0px;
   font-weight:bold;
   font-size:16px;
   color:white!important;
   text-transform:uppercase;
   position: absolute;
   right: 24px;
}

/* PDF download button icon --- use !important */
.pdf-button svg {
   color:white!important
}

/* Back to Portal Button - Hidden */
.back-to-portal-button {
  font-weight: bold;                       /* Make the font bold */
  background-color: transparent !important; /* Make the background transparent */
  border: 0px;                             /* Remove border */
  font-size: 16px;                         /* Set font size */
  color: white !important;                 /* Set text color to white */
  text-transform: uppercase;               /* Make the text uppercase */
  display: none !important;                /* Hide the button */
}

.back-to-portal-button svg {
  color: white !important;                 /* Set icon color to white */
  display: none !important;                /* Hide the SVG icon */
}

/* =========================
    Footer 
   ========================= */

/* Footer area fixed to bottom */

.form-viewer-footer {
   position: fixed;
   bottom: 0;
   width: 100vw;
   margin: 0 -50vw;
   left: 50%;
   right: 50%;
   justify-content: center;
   align-content: center;
   background-color: #FDB386;
   z-index: 99;
   min-height: 50px;
}

@media print {
.form-viewer-footer {
   position: relative!important;
}
}

.form-viewer-footer-content {
   max-width: 100%!important;
   flex-direction: row;
   justify-content: center;
   padding:0px;
}

.form-viewer-footer__buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 0 24px;
}

/* Footer area colour*/
.form-viewer-footer {
   background-color: #FDB386;
}

/* floating total */
.proposal-total {
   position: fixed;
   bottom: 80px;
   right: 20px;
   background-color: #FDB386; /* brand color */
   border-radius: 16px;
   padding: 15px 20px;
   font-family: Helvetica, sans-serif;
   font-weight: normal;
   text-align: center;
   z-index: 9999;
   transition: 0.3s ease;
}

/* Full-width hero override */
.dubsado-form {
    max-width: 100% !important;
    padding: 0 !important;
}

.toast-warning {
    background-color: #C06917;
}

#toast-container > div{
color:#FFFFFF;
}

